
.graphs {
    margin-top: 30px;
    border: 2px solid black;
    width: 1000px;
    height: 300px;
}

#cssTable td
{
    text-align: center;
    vertical-align: middle;
}

table {
    font-size: 120%;
    margin-top: 50px;
    align: center;
}